/target/
nbactions.xml
*.log
nb-configuration.xml
sample_projects/database_discovery/logs/anonymizer.log.2
sample_projects/database_discovery/logs/anonymizer.log.3
/nbproject/
sample_projects/file_discovery/files/000b2798-b3a2-4231-aab1-6a5da3999a11.xls
sample_projects/file_discovery/files/0074014f-b378-4e51-a1ea-56499560f1e3.pdf
sample_projects/file_discovery/files/026fafb2-364e-4e04-b006-3b4ab5808e87.pdf
sample_projects/file_discovery/files/0379be65-9ead-420e-93d5-8f3d4ef69287.pdf
sample_projects/file_discovery/files/0a87d04c-8f4d-404f-85ab-bc9da56a7c04.docx
sample_projects/file_discovery/files/0a965acb-e8e7-43f7-9aec-dde7b15eeca6.docx
sample_projects/file_discovery/files/0aa0a91c-a325-4101-a8db-17ef92510da0.docx
sample_projects/file_discovery/files/0aa28454-3280-4cd6-9f9c-d1331efe895d.pdf
sample_projects/file_discovery/files/0b8da254-9dd1-48c6-9224-af656dbec616.docx
sample_projects/file_discovery/files/0be3924f-c04b-4cf9-9258-f75fe2f91b9c.pdf
sample_projects/file_discovery/files/0bebf028-07b2-4489-a08e-d9a6b1f4fbb8.docx
sample_projects/file_discovery/files/0c309926-72e4-49c3-9f00-92617e8cf648.pdf
sample_projects/file_discovery/files/1c0ee6a2-a86b-4fd7-9942-e20cb64de58c.xls
sample_projects/file_discovery/files/1fba4e10-f1a5-4c42-b1cc-f6bf22136f39.xls
sample_projects/file_discovery/files/2e7a4ced-dd04-4977-9b3c-1581d091d311.xls
sample_projects/file_discovery/files/8d6b912d-a5ee-467e-ba82-4440f3fe816f.xls

# Ignore IntelliJ files.
.idea/
*.iml
*.ipr
*.iws

# Ignore Eclipse files.
.classpath
.project
.factorypath
.checkstyle
.fbExcludeFilterFile
.apt_generated/
.settings/
