--column-pattern=.*f.*rst.*
--column-pattern=.*l.*st.*
--column-pattern=.*name.*
--column-pattern=.*birth.*
--column-pattern=.*address.*
--column-pattern=.*phone.*
--column-pattern=.*number.*
--column-pattern=.*email.*
--column-pattern=.*st.*d.*nt.*
--column-pattern=.*sin.*
--column-pattern=.*stud.*
